:root {
	--spacing: 100px;
}

.App {
}

.David, .David img{
	width: 250px !important;
	height: 250px !important;
}

.David{
	left: calc(50% - 125px) !important;
}

.Progress > div{
	height: 15px !important;
	position: relative;
	width: 50%;
	overflow: hidden;
	animation: start .3s ease-in;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

main {
	margin-top: var(--spacing);
	margin-left: auto !important;
	margin-right: auto !important;
	text-align: justify;
	max-width: 800px;
}

.card1 p, .card1 h2, .card1 span {
	color: #555555 !important;
}
